*.lck
*.bak
*-backups
*auto_saved_files*

*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
*.L68
*.S68
.DS_Store

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent